{% extends 'base.html.twig' %}

{% block title %}SousCategorie index{% endblock %}

{% block body %}
    <h1>SousCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_categorie in sous_categories %}
            <tr>
                <td>{{ sous_categorie.id }}</td>
                <td>{{ sous_categorie.libelle }}</td>
                <td>
                    <a href="{{ path('sous_categorie_show', {'id': sous_categorie.id}) }}">show</a>
                    <a href="{{ path('sous_categorie_edit', {'id': sous_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sous_categorie_new') }}">Create new</a>
{% endblock %}
