{% extends 'base.html.twig' %}

{% block title %}SousCategorie{% endblock %}

{% block body %}
    <h1>SousCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_categorie.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ sous_categorie.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sous_categorie_index') }}">back to list</a>

    <a href="{{ path('sous_categorie_edit', {'id': sous_categorie.id}) }}">edit</a>

    {{ include('sous_categorie/_delete_form.html.twig') }}
{% endblock %}
